/*init commit*/

body {
  margin: 0;
  font-size: 13px;
  font-family: helvetica arial freesans clean sans-serif;
}

#header {
  /*padding: 15px 25px;*/
  background-color: #f3f3f3;
  display: inline-block;
  width: 100%;
}

#topbar {
  padding: 15px 25px;
  background-color: f3f3f3;
  height: 22px;
}

#logo {
  margin-left: -10px;
}

ul.top {
  padding-right: 9px;
  width: 200px;
  height: 25px;
  margin: 0;
  /*margin-right: 9px;*/
  background-color: f3f3f3;
  float: right;
  list-style-type: none;
  position: relative;
}

li.nav a{
  float: left;
  margin-left: 15px;
  line-height: 25px;
  font-weight: bold;
  font-size: 13px;
  display: block;
}

li.nav a:link {
  color: #000;
  text-decoration: none;
}

li.nav a:visited {
  color: #000;
}

li.nav a:hover {
  color: #4183c4;
}

#wrapper {
  margin: 15px 170px 15px 170px;
}

.triangle {
  float: right;
  background-color: #sfff;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  border-color: #b5bec7 transparent transparent transparent;
}

.rcolumn {
  height: 446px;
  width: 446px;
  /*margin: 0px 9px 0px 9px;*/
  float: right;
}

div.rcolumn a {
  border: solid #cacaca;
  border-width: 1px;
  border-radius: 3px;
  background: #fff;
  display: block;
  float: right;
}

.picsr {
  display: block;
  background: #fff;
  text-align: center;
  margin: 10px;
}

.lcolumn {
  height: 446px;
  width: 446px;
  /*margin: 0px 9px 0px 9px;*/
  float: right;
}

div.lcolumn a {
  border: solid #cacaca;
  border-width: 1px;
  border-radius: 3px;
  background: #fff;
  display: block;
  float: left;
}

.picsl {
  display: block;
  background: #fff;
  text-align: center;
  margin: 10px;
}

div.rimgfooter p {
  padding-top: 10px;
  float: left;
  margin: 5px 0;
  color: #cacaca;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.rimgfooter {
  font-family: helvetica arial freesans clean sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #666;
  text-align: right;
  padding-bottom: 12px;
  border-bottom: 1px solid #cacaca;
  background-color: #fff;
  height: 40px;
  width: 426px;
  float: right;
  border: 0px 0px 1px 0px;
  margin: 0px 0px 22px 12px;
}

div.limgfooter p {
  padding-top: 10px;
  float: left;
  margin: 5px 0;
  color: #cacaca;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.limgfooter {
  font-family: helvetica arial freesans clean sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #666;
  text-align: right;
  padding-bottom: 12px;
  border-bottom: 1px solid #cacaca;
  background-color: #fff;
  height: 40px;
  width: 426px;
  float: left;
  border: 0px 0px 1px 0px;
  margin: 0px 12px 22px 0px;
}
